.bewerbungsfoto {
  border-radius: 50%;
  border: 5px solid rgb(241, 230, 202);
  box-align: center;
}

.image-container {
  text-align: center;
  border-radius: 100px;
  border: 5px solid rgb(241, 230, 202);
  box-align: center;
  padding: 5px 0 3px 0;
  margin: 20px 0 20px 0;
  background-color: rgb(150, 152, 113);
}

h1 {
  background-color: rgb(219, 194, 171);
  border-radius: 20px;
}

h2 {
  font-size: 22px;
  text-align: center;
  color: black;
  border-radius: 20px;
  padding: 7px 10px 7px 10px;
}

body {
  background-color: rgb(205, 175, 149);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 18px;
}

.social-link {
  background-color: rgb(150, 152, 113);
  color: rgb(241, 230, 202);
  border-radius: 20px;
  margin: 7px 0 7px 3px;
  padding: 7px 10px 7px 10px;
}

a {
  display: block;
  text-align: center;
}
.accordion-button-container {
  display: flex;
  gap: 10px;
}

.accordion {
  max-width: 600px;
  margin: 20px auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.accordion-button {
  background-color: rgb(150, 152, 113);
  color: white;
  cursor: pointer;
  padding: 15px;
  text-align: central;
  border: 3px solid rgb(241, 230, 202);
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 5px 0 5px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.accordion-button:hover {
  background-color: rgb(241, 230, 202);
  color: black;
}

.accorion-content {
  padding: 0 15px 0 15px;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(241, 230, 202);
  border-radius: 5px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accorion-content p {
  margin: 15px 0;
}

/* Hidden class hinzugefügt */
.hidden {
  display: none;
}
